*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
height:100vh;
overflow:hidden;
font-family:'Poppins',sans-serif;
background:linear-gradient(135deg,#0f172a,#1e293b,#312e81);
display:flex;
justify-content:center;
align-items:center;
color:white;
}

.container{
text-align:center;
z-index:10;
animation:fadeIn 2s ease;
}

.title{
font-size:70px;
color:#ff69b4;
text-shadow:0 0 20px #ff69b4;
animation:glow 2s infinite alternate;
}

.name{
font-size:40px;
margin-top:10px;
}

.message{
margin-top:20px;
width:700px;
max-width:90%;
font-size:20px;
line-height:1.8;
}

button{
margin-top:30px;
padding:15px 40px;
border:none;
border-radius:50px;
font-size:20px;
cursor:pointer;
background:#ff69b4;
color:white;
box-shadow:0 0 20px #ff69b4;
transition:0.3s;
}

button:hover{
transform:scale(1.1);
}

@keyframes glow{
from{
text-shadow:0 0 10px #ff69b4;
}
to{
text-shadow:0 0 30px #ff69b4,
0 0 60px #ff69b4;
}
}

@keyframes fadeIn{
from{
opacity:0;
transform:translateY(50px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.stars{
position:absolute;
width:100%;
height:100%;
background-image:
radial-gradient(white 1px, transparent 1px);
background-size:50px 50px;
opacity:0.3;
}

.hearts::before,
.hearts::after{
content:"💖";
position:absolute;
font-size:30px;
animation:float 8s linear infinite;
}

.hearts::after{
left:80%;
animation-delay:4s;
}

@keyframes float{
from{
transform:translateY(100vh);
}
to{
transform:translateY(-100vh);
}
}

.hidden{
display:none !important;
}

.gallery{
position:fixed;
inset:0;
z-index:20;
}

.center-message{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:700px;
max-width:80%;
text-align:center;
animation:fadeMessage 2s ease;
}

.center-message h1{
font-size:50px;
color:#ff69b4;
margin-bottom:20px;
text-shadow:0 0 25px #ff69b4;
}

.center-message p{
font-size:18px;
line-height:1.8;
text-shadow:0 0 10px pink;
}

@keyframes fadeMessage{
from{
opacity:0;
transform:translate(-50%,-40%);
}
to{
opacity:1;
transform:translate(-50%,-50%);
}
}

.heart-card{
position:absolute;
width:320px;
text-align:center;
animation:heartPop 1.5s ease;
}

.heart-card img{
width:250px;
height:250px;
object-fit:cover;
border-radius:50%;
border:6px solid hotpink;
box-shadow:0 0 40px hotpink;
}

.heart-card p{
margin-top:12px;
font-size:16px;
text-shadow:0 0 10px pink;
}

.heart1{
top:20px;
left:20px;
}

.heart2{
top:20px;
right:20px;
}

.heart3{
bottom:20px;
left:20px;
}

.heart4{
bottom:20px;
right:20px;
}

@keyframes heartPop{
from{
opacity:0;
transform:scale(0);
}
to{
opacity:1;
transform:scale(1);
}
}

#nextBtn{
    margin-top:25px;
    padding:12px 30px;
    border:none;
    border-radius:40px;
    background:#ff69b4;
    color:white;
    font-size:18px;
    cursor:pointer;
    box-shadow:0 0 20px #ff69b4;
    transition:0.3s;
}

#nextBtn:hover{
    transform:scale(1.08);
}

.gift{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
animation:giftAppear 1s ease;
}

.gift-body{
width:220px;
height:220px;
background:#ff69b4;
border-radius:20px;
box-shadow:0 0 40px hotpink;
position:relative;
}

.gift-body::before{
content:"";
position:absolute;
left:95px;
top:0;
width:30px;
height:220px;
background:white;
}

.gift-body::after{
content:"";
position:absolute;
top:95px;
left:0;
width:220px;
height:30px;
background:white;
}

.gift-top{
width:240px;
height:60px;
background:#ff85c1;
border-radius:15px;
margin-left:-10px;
margin-bottom:5px;
box-shadow:0 0 30px hotpink;
}

.gift h2{
margin-top:20px;
color:white;
text-shadow:0 0 15px pink;
}

@keyframes giftAppear{
from{
opacity:0;
transform:translate(-50%,-50%) scale(0);
}
to{
opacity:1;
transform:translate(-50%,-50%) scale(1);
}
}

.letter{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
width:800px;
max-width:90%;
padding:40px;
border-radius:25px;

background:rgba(255,255,255,0.08);
backdrop-filter:blur(15px);

box-shadow:0 0 40px hotpink;

text-align:center;

animation:fadeLetter 1s ease;
}

.letter h1{
color:#ff69b4;
margin-bottom:20px;
text-shadow:0 0 20px #ff69b4;
}

.letter p{
font-size:20px;
line-height:2;
color:white;
min-height:250px;
}

#cakeBtn{
margin-top:20px;
padding:15px 35px;
font-size:18px;
border:none;
border-radius:40px;
background:#ff69b4;
color:white;
cursor:pointer;
box-shadow:0 0 20px hotpink;
}

@keyframes fadeLetter{
from{
opacity:0;
transform:translate(-50%,-40%);
}
to{
opacity:1;
transform:translate(-50%,-50%);
}
}

.cake-scene{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
animation:fadeLetter 1s ease;
}

.cake-title{
margin-bottom:40px;
font-size:45px;
color:#ff69b4;
text-shadow:0 0 25px hotpink;
}

.cake{
position:relative;
width:300px;
height:320px;
margin:auto;
}

.cake-bottom{
width:300px;
height:90px;
background:#ff69b4;
border-radius:20px;
position:absolute;
bottom:0;
animation:dropLayer 1s ease;
}

.cake-middle{
width:240px;
height:80px;
background:#ff85c1;
border-radius:20px;
position:absolute;
left:30px;
bottom:100px;
animation:dropLayer 2s ease;
}

.cake-top{
width:180px;
height:70px;
background:#ffc0cb;
border-radius:20px;
position:absolute;
left:60px;
bottom:190px;
animation:dropLayer 3s ease;
}

.candle{
position:absolute;
left:140px;
bottom:260px;
}

.candle{
width:20px;
height:50px;
background:white;
}

.flame{
width:20px;
height:30px;
background:orange;
border-radius:50%;
box-shadow:0 0 20px yellow;
animation:flicker 0.4s infinite alternate;
}

#cutCakeBtn{
margin-top:50px;
padding:15px 35px;
border:none;
border-radius:40px;
background:#ff69b4;
color:white;
font-size:18px;
cursor:pointer;
box-shadow:0 0 25px hotpink;
}

@keyframes flicker{
from{
transform:scale(1);
}
to{
transform:scale(1.2);
}
}

@keyframes dropLayer{
from{
transform:translateY(-500px);
opacity:0;
}
to{
transform:translateY(0);
opacity:1;
}
}

@keyframes boom{

0%{
opacity:0;
transform:scale(0);
}

50%{
opacity:1;
transform:scale(2);
}

100%{
opacity:0;
transform:scale(3);
}

}
.final-screen{
position:fixed;
inset:0;

flex-direction:column;
justify-content:center;
align-items:center;

padding:40px;

text-align:center;

background:rgba(0,0,0,0.85);
backdrop-filter:blur(10px);

z-index:9999;

overflow-y:auto;

animation:fadeFinal 2s ease;
}

.final-screen h1{
font-size:60px;
color:#ff69b4;
margin-bottom:30px;
text-shadow:0 0 30px hotpink;
}

.final-screen p{
max-width:900px;
font-size:22px;
line-height:2;
color:white;
text-shadow:0 0 10px pink;
}

@keyframes fadeFinal{
from{
opacity:0;
}
to{
opacity:1;
}
}

.balloon{
position:absolute;
font-size:70px;
animation:balloonFloat 10s linear infinite;
z-index:5;
}

.balloon1{
left:10%;
}

.balloon2{
left:30%;
animation-delay:2s;
}

.balloon3{
left:60%;
animation-delay:4s;
}

.balloon4{
left:85%;
animation-delay:6s;
}

@keyframes balloonFloat{
from{
bottom:-100px;
}
to{
bottom:110%;
}
}
.thank-you{
margin-top:25px;
font-size:25px;
color:white;
text-shadow:0 0 15px pink;
}

.ending-line{
margin-top:30px;
font-size:35px;
color:#ffb6c1;
opacity:0;
animation:showEnding 3s ease forwards;
animation-delay:3s;
}

@keyframes showEnding{
from{
opacity:0;
transform:translateY(20px);
}
to{
opacity:1;
transform:translateY(0);
}
}

@keyframes heartFade{

0%{
opacity:1;
transform:translateY(0) scale(1);
}

100%{
opacity:0;
transform:translateY(-50px) scale(1.8);
}

}